#content .Info {
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#content .Info .clr {
    color: blueviolet;
}

#content .Info button.Booking {
    background-color: transparent;
    border: 3px solid #fff;
    padding: 12px 45px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

#content .Info button.Booking:hover  {
    cursor: pointer;
    background-color: #00000068;
}

@media (max-width: 425px) {
    #content .Info {
        padding: 0 10px;
        gap: 15px;
    }

    .Info h1{
        text-align: center;
        line-height: 1;
    }

    .Info h1:nth-child(2) {
        font-size: 18px;
    }

    #content .Info button.Booking {
        padding: 7px 15px;
        font-size: 14px;
        width: 75%;
    }
}